{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="site-section section-counter" style="background-image: url('/static/images/bg_1.jpg');">
    <div class="container">
        <div class="site-section fund-raisers">
            <div class="container" style="background: aliceblue;">
                <div class="row mb-3 justify-content-center">
                    <div class="col-md-8 text-center">
                        {% if request.user.buddy.status == 'pending' %}
                        <h2>Thanks for applying to be a buddy with us! Your buddy application is in progress. We will get in touch with you shortly.</h2>
                        {% elif request.user.buddy.status == 'approved'%}
                            {% if request.user.startyoungukuser.sdp_frequency == 'N'%}
                        <h2>Please set up the <a href="{% url 'sdp' %}"> systematic donation plan </a> to complete your buddy process</h2>
                            {% else %}
                        <h2>You are a buddy. Would you like to<a href="{% url 'sdp' %}"> stop</a>?</h2>
                            {% endif %}
                        {% else %}
                            {% if request.user.buddy.status == 'rejected' %}
                            <h2>Your previous application was unsuccessful. Would you like to apply again?</h2>
                            {% elif request.user.buddy.status == 'opted_out' %}
                            <h2>You have opted out of being a buddy. Would you like to apply again?</h2>
                            {% else %}
                            <h2>Would you like to become a buddy? Please apply below</h2>
                            {% endif %}
                        
                    </div>
                </div>
                <!-- {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %} -->
                {% load crispy_forms_tags %}
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <br>
                    <div class="form-group">
                        <button class="signup-btn btn btn-primary" type="submit">Save</button>
                    </div>
                    <br>
                </form>
                <div>
                {% endif %}
                    <!-- <h1>Recommended Child profiles</h1>
                    <div class="row">
                        {% for entry in recommended_child %}
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="card text-center">
                                <img src="{% static 'images/person_3.jpg' %}" alt="Image placeholder" class="img-fluid"> 
                                <div class="donate-info">
                                    <h2>{{entry.name}}</h2>
                                  <span class="time d-block mb-3">Donated Just now</span> 
                                    <p>
                                        Donated <span class="text-success">${{entry.fields.amount}}</span>
                                        <br> 
                                        <em>for</em> <a href="#" class="link-underline fundraise-item">Water Is Life. Clean Water In Urban Area</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>

        {% endblock %}
