{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="padding:140px; background-image: url('/static/images/bg_1.jpg');">
    <h1>Systematic Donation Plan (SDP)</h1>
    <h2>Return on investment would be continued returns in the form of smile on child's face.</h2>

{% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}

{% load crispy_forms_tags %}
<form method="POST" class="post-form">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <p style="text-align:center;"><button style="width:300px;" class="signup-btn btn btn-primary" type="submit">Start SDP</button></p>
    </div>                           
</form>
</div>
        

{% endblock %}