{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="padding:140px; background-image: url('/static/images/bg_1.jpg');">
    <h1>Systematic Donation Plan (SDP)</h1>
    <h2>Return on investment would be continued returns in the form of smile on child's face.</h2>

{% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}

{% load crispy_forms_tags %}
<form method="POST" class="post-form">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <!-- <class="text-muted"><b><a class="ml-2" href="{% url 'password_reset' %}">Forgot Password?</a></b></class> -->
        <class="text-muted"><b>I declare that I will set up a standing order for the amount of £5 per week (minimum)
            to support my child sponsor.
            Once set up please email Startyoung21@gmail.com to confirm which month your
            direct debit will begin.
            Bank sort code: 60-03-19 Account number: 79913334 NatWest Bank</b></class>
    </div>
    <div class="form-group">
        <p style="text-align:center;"><button style="width:300px;" class="signup-btn btn btn-primary" type="submit">Start SDP</button></p>
    </div>                           
</form>
</div>
        

{% endblock %}