{% extends 'base.html' %}
{% load static %}
{%  block header%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/v4-shims.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
{% endblock header %}

{% block content %}
<script>
    document.getElementById('nav-userhome').classList.add('active');
</script>

<div class="site-section fund-raisers" style="padding-top: 150px;background-color: gainsboro;">
    <div class="container">
      <div class="row mb-3 justify-content-center">
        <div class="col-md-8 text-center">
          <h2>Hello {{user.username}}</h2>
          <p class="lead">You are signed up as 
            {% if user.startyoungukuser.user_type == "I" %}
            Individual 
            {% else %}
            Corporate 
            {% endif %}
            <!-- <div class="card card-2"> -->
                <div class="card-heading"></div>
                <div class="card-body">
                    
                    <h2 class="title">Hi {{user.username}}<br>
                    You are signed up as 
                    {% if user.startyoungukuser.user_type == "I" %}
                    Individual
                    {% else %}
                    Corporate
                    {% endif %}
                    <br>
                    What would you like to do today?</h2>
                    
                <!-- </div> -->
            </div>
            <div class="row">
                <div>
                    {% if user.startyoungukuser.user_type == "I" %}
                    <a href="{% url 'mentor' %}"><button>Mentor A Child</button></a>
                    {% else %}
                    <a href="{%url 'start_campaign' %}"><button>Start a Campaign</button></a>
                    {% endif %}

                    <a href="{% url 'sdp' %}"><button>Systematic Donation Plan</button></a>
                    <a href="{% url 'profile' %}"><button>Update Profile</button></a>
                </div>
            </div>
        </div>
        </div>
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

      <div class="row">
        <div class="col-mg-4 col-lg-4"><p style="text-align: center;"><a class="btn btn-white px-3 py-2" href="{% url 'mentor' %}">Mentor a Child</a></p></div>
        <div class="col-mg-4 col-lg-4"><p style="text-align: center;"><a class="btn btn-white px-3 py-2" href="{% url 'sdp' %}">Systematic Donation Plan</a></p></div>
        <div class="col-mg-4 col-lg-4"><p style="text-align: center;"><a class="btn btn-white px-3 py-2" href="{% url 'profile' %}">Update Profile</a></p></div>
        
      </div>
    </div>
  </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>
{% endblock content %}
