{% extends 'base.html' %}
{% load static %}
{% block content %}

<script>
  document.getElementById("nav-buddy").classList.add("active");
</script>

<div class="featured-section overlay-color-2" style="background-image: url('/static/images/bg_2.jpg');">
    
    <div class="container">
      <div class="row">
        
        <div class="col-md-12 pl-md-5" style="background-color:rgba(0, 0, 0, 0.5); margin-top: 40px;">
          <br><h2 style="text-align:center;">The Buddy System</h2><br>
          <p class="mb-5">The Start Young Buddy plays a key part in making a change in a child's life, they encourage, mentor, value, respect, shift mindset and support throughout the educational road map. Ensuring every child reached their full potential. You can be a sleeping (SYB) or an active (SYB). In line with safeguarding all (SYB) contact is through the school and charity.</p>
          <p class="lead">WHAT IS  A START YOUNG BUDDY (SYB)</p>

          <p>Someone who:</p>
            <ul style="color:white ;">
            <li>wants to sponsor a child for £5 per week</li>
            <li>wants to encourage and make a difference in a child's life</li>
            <li>wants to share knowledge and experience</li>
            <li>finds comfort in helping others</li>
            <li>thinks of another before they think of themselves</li>
            <li>would like to support the development of a child until school leaving age</li>
            <li>will mentor, letter write, and assist in whatever way they can</li>
            <li>will Allie within the workplace to see what we collectively can do, to give the next generation a foot up on the employment ladder. We will support in work experience, apprenticeships, with a hope of securing employment for their young adult</li>
            </ul>

            <p class="lead">BE A "BUDDY"</p>
              <p class="mb-5">We can all play a part. We are looking for” Start Young Buddies." Individuals that will sponsor a child for £5 per week. It is as easy as sacrificing the cost of one hot drink a week to support a child, which will assist with financial aid towards school uniform and basic needs. The child will be enrolled one evening a week into a local community club. The club will assist, with the development of the young person achieving their full physical intellectual, social and spiritual potential as individuals, as responsible citizens and as members of the local national and international communities. A small donation of £5 can make a huge difference.</p>
          
              <p class="mb-0" style="text-align: center;"><a href="{% url 'mentor' %}" class="btn btn-white px-3 py-2">Become a Buddy Today!</a></p>
            <br>
            <br>
            </div>
        
      </div>
    </div>

  </div>


{% endblock %}