{% extends 'base.html' %}
{% block title %}Empowering Young People to Achieve{% endblock %}
{% load static %}
{% block content %}

<script>
    document.getElementById("nav-home").classList.add("active");
</script>
<style>
    figure {
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        margin: auto;
    }

    /* img {
        max-width: 1500px;
        max-height: 690px;
        object-fit: cover;
    } */

    video {
      max-width: 1500px;
      height: 690px;
      object-fit: cover;
    }

    figcaption {
        background-color: #f153a0;
        color: #fff;
        font: italic smaller sans-serif;
        font-size: 12px;
        padding: 4px;
        text-align: center;
    }


    img {
        /*max-width: 100%;  Set the max width to 100% of the container */
        /*max-height: 100%; Set the max height to 100% of the container - All images uploaded to be the same height */
        object-fit: cover;
    }
    .gallery {
        max-width: 60%;
        max-height: 60%;
    }

  </style>

<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 homepage-nav">

        <div class="block-30 block-30-sm item" style="background-image: url('{% static 'images/homepage-bg.jpg' %}')" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-7">
                        <h2 class="heading mb-5">Welcome to Start Young UK</h2>
                        <h3 class="mb-5" style="color:white ;">Empowering Young People to Achieve</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="site-section section-counter">
    <div class="container">
        <div class="row text-justify">
            <div class="col-md-6 pr-5">
                <div class="block-48">
                    <span class="block-48-text-1">Helped Over</span>
                    <div class="block-48-counter ftco-number" data-number="{{ number_children }}">0</div>
                    <span class="block-48-text-1 mb-4 d-block">Children in UK</span>
                    <p class="mb-0"><a href="{% url 'about-us' %}" class="btn btn-white px-3 py-2">Find More About Us</a></p>
                </div>
            </div>
            <div class="col-md-6 welcome-text">
                <h2 class="display-4 mb-3">Our Aim</h2>
                <p class="mb-4">To work alongside local schools and communities in supporting young people and families in achieving their full potential as a member of the community. Supporting the education career path from 5-16 yrs whilst securing apprenticeships, sponsorships, work experience for the young adults.  We do this by  our buddy system,  imparting knowledge, guidance, life learned lessons, and challenges to instill hope, value and aspiration.</p>
                <p class="mb-4">We can all be a part of change and it takes a second to sign up. If you would like to support, volunteer, donate, or simply just find out more about what we do , then please contact us, as we look forward to hearing from you!</p>
                <!-- <p class="mb-0"><a href="#" class="btn btn-primary px-3 py-2">Learn More</a></p> -->
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-yellow border-top">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-calendar"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Campaigns so far</h3>
                        <p>{{cnt_campaigns}}</p>
                        <!-- <p><a href="#" class="link-underline">Learn More</a></p> -->
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-school"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Number of schools</h3>
                        <p>{{cnt_schools}}</p>
                        <!-- <p><a href="#" class="link-underline">Learn More</a></p> -->
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-heart"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Buddies onboarded</h3>
                        <p>{{cnt_buddy}}</p>
                        <!-- <p><a href="#" class="link-underline">Learn More</a></p> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- J EDIT Moved this from bottom -->
<div class="site-section fund-raisers">
    <div class="container">
        <div class="row mb-3 justify-content-center">
             <!-- <div class="col-md-12 mb-5 text-center mt-5"> -->
      <div class="col-md-8 text-center">
        <h2>Gallery</h2>
    </div>
      <!-- </div> -->
      <div class="container">
        <div class="block-11 mb-5" style="position: relative;">
            <div class="owl-carousel loop-block-31">
              {% for item, item_type in items %}
                {% if item_type == 'image' %}
                  
                    <figure>
                      <img src="{{ item.item_file.url }}" alt="{{ item.item_title }}" >
                      <figcaption>{{ item.item_title }}</figcaption>
                    </figure>            
                {% endif %}
              {% endfor %}
            </div>
          </div>
      </div>
        </div>
    </div>
</div>
<!-- J Edit End of move -->

<section id="campaigns">
<div class="site-section fund-raisers bg-light">
    <div class="container">
        <div class="row mb-3 justify-content-center">
            <div class="col-md-8 text-center">
                <h2>Ongoing Campaigns</h2>
                <!-- <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!--<p><a href="#" class="link-underline">View All Campaigns</a></p>-->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-12 block-11">
            <div class="nonloop-block-11 owl-carousel">
            {% for campaign, collected_so_far, percent_raised in campaigns_zip %}
                {% if campaign.is_active %}
                <div class="card fundraise-item">
                    <img class="card-img-top" src="{{ campaign.campaign_image.url  }}" alt="Image placeholder" height=250 >
                    <div class="card-body campaign-card">
                        <div>
                            <h3 class="card-title"><a href="#">{{ campaign.campaign_title }}</a></h3>
                            <p class="card-text" style="max-height: 200px; overflow: scroll">{{ campaign.campaign_description }}</p>
                        </div>
                        <div>
                            <span class="donation-time mb-3 d-block">Campaign Deadline: {{ campaign.campaign_deadline }}</span>
                            <div class="form-group">
                                <a href="{{campaign.get_absolute_url}}">
                                    <button class="donate-btn login-btn btn btn-primary" type="button">Donate</button>
                                </a>
                            </div>
                            <div class="progress custom-progress-success">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: {{ percent_raised }}%" aria-valuenow="{{ percent_raised }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="fund-raised d-block">£{{ collected_so_far }} raised of £{{ campaign.collection_target }}</span>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>

<div class="site-section bg-yellow border-top">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-happy"></span></div>
                    <div class="media-body">
                        <a href="/join-us" class="heading campaign-banner-link">Join Us</a>
                        <p>Join us in changing lives. Together, we make a difference.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-cash"></span></div>
                    <div class="media-body">
                        <a href="/donate" class="heading campaign-banner-link">Make Donations</a>
                        <p>Help a child by making a donation. No amount is small.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="ion-ios-contacts"></span></div>
                    <div class="media-body">
                        <a href="/buddy" class="heading campaign-banner-link">We Need Volunteers</a>
                        <p>Support a child by volunteering with us.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="site-section fund-raisers">
    <div class="container">
        <div class="row mb-3 justify-content-center">
            <div class="col-md-8 text-center">
                <h2>Top Donations</h2>
                <!-- <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <p class="mb-5">Thank you for your generous support!</p>
            </div>
        </div>

        <div class="row">
            {% for donation in top_donations %}
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="person-donate text-center">
                    <img src="{% static "images/anonymous-donor.jpeg" %}" alt="Image placeholder" class="img-fluid">

                    {% if donation.fields.is_anonymous %}
                    <div class="donate-info">
                        <h2>Anonymous Donor</h2>
                    {% else %}
                    <div class="donate-info">
                        <h2>{{donation.fields.name}}</h2>
                    {% endif %}
                    <p>
                        Donated <span class="text-success">£{{donation.fields.amount}}
                    </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<section id="affiliations">
<div class="site-section bg-yellow border-top">
    <div class="container">
        <div class="row mb-3 justify-content-center">
            <div class="col-md-8 text-center">
                <h2>Affiliations</h2>
            </div>
        </div>

        <div class="container-fluid">

            <!-- <div class="row"> -->
    
            <div class="col-md-12 block-11">
                <div class="nonloop-block-11 owl-carousel">
                    <!-- TODO: replace affiliations with a zip of its logo and name (and maybe description) -->
                {% for affiliation in affiliations %}
                    {% if affiliation.affiliation_display %}
                        <div class="card fundraise-item">
                            <a href="#"><img class="card-img-top" src="{{ affiliation.affiliation_image.url  }}" alt="Image placeholder" height=250 ></a>
                            <div class="card-body">
                                <h3 class="card-title"><a href="#">{{ affiliation.affiliation_name }}</a></h3>
                                <p class="card-text">{{ affiliation.affiliation_description }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
    
</div>
</section>



{% endblock %}
