{% extends 'base.html' %}
{% block title %} Privacy Policy {% endblock %}
{% load static %}
{% block content %}
<style>
b {
    font-weight: 700;
}
.no-yellow {
    color: unset;
}
</style>

<div class="block-31" style="position: relative;">
    <div class="block-30 block-30-sm item" style="background-image: url('{% static 'images/homepage.jpg' %}')" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-md-7">
                    <h2 class="heading mb-5">Privacy Policy</h2>
                    <h3 class="mb-5" style="color:white ;">Last updated May 21st 2023</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section border-top" style="margin: 0 20px;">
        <p class="mb-4">This privacy notice for Start Young Uk (Company’, ‘we’, ‘us’ or ‘our’) describes how and why we might collect, store, use and/or share (‘process’) your information when you use our services (‘Services’), such as when you:</p>
        <ul>
            <li>Visit our <a href="https://www.startyounguk.com">website</a>, or any website of ours that links to this privacy notice.</li>
            <li>Engage with us in other related ways, including any sales, marketing, or events.</li>
        </ul>
        <p class="mb-4"><b>Questions or Concerns?</b> Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact us at <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>.</p>

        <h4 class="mb-5">SUMMARY OF KEY POINTS</h4>

        <p class="mb-4">This summary provides key points from our privacy notice, but you can find out more details about any of these topics by emailing <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>.</p>
        
        <p class="mb-4"><b>Do we process any sensitive personal information?</b> We may process sensitive personal information, when necessary, with your consent or as otherwise permitted by applicable law.</p>
        <p class="mb-4"><b>Do we receive any information from third parties?</b> We do not receive any information from third parties.</p>
        <p class="mb-4">How do we process your information? We process your information to provide, improve and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent. We process your information only when we have a valid legal reason to do so.</p>
        <p class="mb-4"><b>How do we keep your information safe?</b>We have organisational and technical processes and procedures in place to protect your personal information. However, no electronic transmission over the internet or information storage technology can be guaranteed to be a 100% secure, so we cannot promise or guarantee the hackers, cybercriminals, or other unauthorised third parties will not be able to defeat our security and improperly collect, access, steal or modify your information.</p>
        <p class="mb-4"><b>What are your rights?</b>Depending on where you are located geographically, the applicable privacy laws may mean you have certain rights regarding your personal information.</p>
        <p class="mb-4"><b>How do you exercise your rights?</b> The easiest way to exercise your rights is by submitting a data subject access request, or by contacting us. We will consider and act upon any request in accordance with applicable data protection laws.
        </p>
        
        <h4 class="mb-5">TABLE OF CONTENTS</h4>
        
        <ol>
            <a href="#1" class="no-yellow" rel="noopener" target="_current"><li>WHAT INFORMATION DO WE COLLECT?</li></a>
            <a href="#2" class="no-yellow" rel="noopener" target="_current"><li>HOW DO WE PROCESS YOUR INFORMATION?</li></a>
            <a href="#3" class="no-yellow" rel="noopener" target="_current"><li>WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFROMATION?</li></a>
            <a href="#4" class="no-yellow" rel="noopener" target="_current"><li>HOW LONG DO WE KEEP YOUR INFORMATION?</li></a>
            <a href="#5" class="no-yellow" rel="noopener" target="_current"><li>HOW DO WE KEEP YOUR INFORMATION SAFE?</li></a>
            <a href="#6" class="no-yellow" rel="noopener" target="_current"><li>WHAT ARE YOUR PRIVACY RIGHTS?</li></a>
            <a href="#7" class="no-yellow" rel="noopener" target="_current"><li>CONTROLS FOR DO-NOT -TRACK-FEATURES?</li></a>
            <a href="#8" class="no-yellow" rel="noopener" target="_current"><li>DO WE MAKE UPDATES TO THIS NOTICE?</li></a>
            <a href="#9" class="no-yellow" rel="noopener" target="_current"><li>HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</li></a>
            <a href="#10" class="no-yellow" rel="noopener" target="_current"><li>HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</li></a>
        </ol>
        
        <div>
            <a id="1"><h4 class="mb-5">1. WHAT INFORMATION DO WE COLLECT?</h4></a>
            <p class="mb-4"><b>In short:</b> we collect personal information that you provide to us.</p>
            <p class="mb-4">We collect personal information you voluntary provide to us when you register on the Service, express an interest in obtaining information about us or our products and Services, when you participate in activities on the Services, or otherwise when you contact us.</p>
            <p class="mb-4"><b>Personal Information provided by you.</b> The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make, and the products and features you use. The personal information we ma collect include the following:</p>
            
            <ul>
                <li>Names</li>
                <li>Phonenumbers</li>
                <li>Email addresses</li>
                <li>Billing addresses</li>
                <li>Mailing addresses</li>
                <li>Usernames</li>
                <li>Passwords</li>
            </ul>
    
            <p class="mb-4"><b>Sensitive Information.</b>When necessary, with your consent or as otherwise permitted by applicable law, we may process the following categories of sensitive information:</p>
    
            <ul>
                <li>Names and addresses</li>
                <li>Telephone numbers</li>
                <li>Email addresses</li>
                <li>Full name</li>
            </ul>
    
            <p class="mb-4"><b>Payment Data.</b>We may collect data necessary to process your payment if you make purchases, all payment data is stored by PayPal. You may find their privacy notice link(s) here: <a href ="https://www.paypal.com/uk/legalhub/privacy-full?country.x=GB&locale.x=en_GB">PayPal Privacy Statement</a>.</p>
            <p class="mb-4">All personal information that you provide to us must be true, complete, and accurate, and you must notify us of any changes to such personal information.</p>
            
            <p class="mb-4"><b>Information automatically collected</b></p>
    
            <p class="mb-4"><b>In Short:</b> Some information – such as your internet Protocol (IP) address and /or browser and device characteristics -is collected automatically when you visit our services.</p>
            <p class="mb-4">We automatically collect certain information when you visit, use or navigate the Services. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, Information about how and when you use our Services, and other technical information. This information is primarily needed to maintain the security and operation of our Services, and for our Internal analytics and reporting purposes.</p>
            
            <p class="mb-4">The information we collect includes:</p>
    
            <ul>
                <li><b>Log and Usage Data.</b> Log and usage data is service -related, diagnostic, usage, and performance information our servers automatically to collect when you access or use our Services and which we record files. Depending on how you interact with us, this log data may include your IP address, device information, browser type, and settings and information about your activity in the Services (such as the date/time stamps associated with your usage, pages and files viewed, searches, and other actions you take such as features you use), device event information (such as system activity, error reports (sometimes called ‘crash dumps’), and hardware settings).</li>
                <li><b>Location Data.</b> We collect location data such as information about your device’s location, which can be either precise or imprecise. How much information we collect depends on the type and settings of the device you use to access the Services. For example, we may use GPS and other technologies to collect geolocation data that tells us your current locations (based on your IP address). You can opt out of allowing us to collect this information either by refusing access to the information or by disabling your Location setting on your device. However, if you choose to opt out, you may not be able to use certain aspects of the Services.</li>
            </ul>
        </div>

        <div>
            <a id="2"><h4 class="mb-5">2. HOW DO WE PROCESS YOUR INFROMATION?</h4></a>
    
            <p class="mb-4"><b>In Short:</b> We process, your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent.</p>
            <p class="mb-4">We process your personal information for a variety of reasons, depending on how you interact with our Services, including:</p>
            <ul>
                <li><b>To facilitate account creation and authentication and otherwise manage user accounts.</b> We may process your information so you can create and log in to your account, as well as keep your account in working order.</li>
                <li><b>To respond to user’s enquiries/offer support to users.</b> We may process your information to respond to your inquiries and solve potential issues you might have with the requested service.</li>
                <li><b>To send administrative information to you.</b>We may process your information send you details about our products and Services, changes to terms and policies, and other similar information.</li>
                <li><b>To enable user-to-user communication.</b>We may process your information if you choose to use any of our offerings that allow for communication with another user.</li>
                <li><b>To request feedback.</b>We may process your information when necessary to request feedback and to contact you about use your use of our services.</li>
                <li><b>To send you marketing and promotional communications.</b>We may process the personal information you send to use for marketing purposes, if this in accordance with your marketing preferences. You can opt out of our marketing emails at any time by emailing <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>.</li>
                <li><b>To post testimonials.</b>We post testimonials on our Services that may contain personal information.</li>
                <li><b>To comply with legal obligations.</b> We may process your information to comply with our legal obligations, respond to legal requests, and exercise, establish, or defend our legal rights.</li>
            </ul>
        </div>

        <div>
            <a id="3"><h4 class="mb-5">3. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION</h4></a>
    
            <p class="mb-4"><b>In Short:</b> We may share information in specific situations described in this section and/or with the following third parties.</p>
            <p class="mb-4">We may need to share your personal information in the following situations:</p>
            <ul>
                <li><b>Business Transfers.</b> We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</li>
            </ul>
        </div>

        <div>
            <a id="4"><h4 class="mb-5">4. HOW LONG DO WE KEEP YOUR INFROMATION FOR</h4></a>
    
            <p class="mb-4"><b>In short:</b> We will keep your information for as long as necessary to fulfil the purposes outlined in this privacy notice unless otherwise required by law.</p>
            <p class="mb-4">We will only keep your personal information for as long as it is necessary for the purpose outlined in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting, or other legal requirements). No purpose in this notice will require us keeping your personal information for longer than six (6) months past the termination of the user’s account.</p>
            <p class="mb-4">When we have an ongoing legitimate business need to process your personal information, we will either delete or anonymise such information, or if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
        </div>

        <div>
            <a id="5"><h4 class="mb-5">5. HOW DO WE KEEP YOUR INFORMATION SAFE?</h4></a>
            <p class="mb-4"><b>In Short:</b> We aim to protest your personal information through a system of organisational and technical security measures.</p>
            <p class="mb-4">We have implemented appropriate and reasonable technical and organisational security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electric transmission over the internet or information storage technology can be guaranteed a 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorised third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information. Although we will do our best to protect your information, transmission of personal information to and from our Services is at your own risk. You should only access the services within a secure environment.</p>
        </div>

        <div>
            <a id="6"><h4 class="mb-5">6. WHAT ARE YOUR PRIVACY RIGHTS</h4></a>
            <p class="mb-4"><b>In Short: </b>You may review, change, or terminate your account at any time.</p>
            <p class="mb-4">If you are located in the EEA or UK and you believe we are unlawfully processing your personal information, you may also have the right to complain to the UK data protection authority.</p>
            <p class="mb-4"><b>Withdrawing your consent:</b> If we are relying on your consent to process your personal information, which may be express and/or implied consent depending on the applicable law, you have the right to withdraw your consent at any time. You can withdraw your consent at any time by contacting us by using the contact details in the section <a href="9">HOW CAN YOU CONTACT US ABOUT THIS NOTICE</a> below.</p>
            <p class="mb-4">However, please note that this will not affect the lawfulness of the processing before its withdrawal nor, when applicable law allows, will it affect the processing of your personal information conducted in reliance on lawful processing grounds other than consent.</p>
            <p class="mb-4">Opting out of marketing and promotional communications: You can unsubscribe from our marketing and promotional communications at any time by Consent box on letter sign up, or by contacting us using the details provided in the section <a href="9">HOW CAN YOU CONTACT US ABOUT THIS NOTICE</a> below. You will then be moved from the marketing lists. However, we may still communicate with you - for example, to send you service-related messages that are necessary for the administration and use of your account, to respond to service requests, or for non-marketing purposes.</p>
            <p class="mb-4"><b>Account Information</b></p>
            <p class="mb-4">If you would at any time like to review or change the information in your account or terminate your account, you can log in to your account settings and update your user account.</p>
            <p class="mb-4">Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our legal terms and /or comply with applicable legal requirements.</p>
            <p class="mb-4">If you have questions or comments about privacy rights, you may email our data protection officer at <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>.</p>

        </div>

        <div>
            <a id="7"><h4 class="mb-5">7. CONTROLS FOR DO-NOT-TRACK FEATURES</h4></a>
            <p class="mb-4">Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (‘DNT’) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage no uniform technology standard for recognising and implementing DNT signals has been finalised. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked on line. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy notice.</p>
        </div>

        <div>
            <a id="8"><h4 class="mb-5">8. DO WE MAKE UPDATES TO THIS NOTICE?</h4></a>
            <p class="mb-4"><b>In Short:</b> Yes, we will update this notice as necessary to stay compliant with relevant laws.</p>
            <p class="mb-4">We may update this privacy notice from time to time. The updated version will be indicated by an updated ‘Revised ‘date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.</p>
        </div>

        <div>
            <a id="9"><h4 class="mb-5">9. HOW, CAN YOU CONTACT US ABOUT THIS NOTICE?</h4></a>
            <p class="mb-4">
                If you have any questions or comments about this notice, you may contact our Data Protection Officer (DPO) by email: <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>. All enquires in regards to data protection will need to be addressed to the Data Protection Officer. All queries will be responded to within 48hrs.</p>
        </div>

        <div>
            <a id="10"><h4 class="mb-5">
                10. HOW, CAN YOU REVIEW, UPDATE, DELETE THE DATA WE COLLECT FROM YOU?</h4></a>
            <p class="mb-4">You have the right to request access to the personal information we collect from you, change that information, or delete it. To request to review, update, or delete your personal information, please fill in a data subject access request.</p>
        </div>
    </div>
</div>

{% endblock %}