{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="block-31" style="position: relative;">
    <div class="block-30 block-30-sm item" style="background-image: url('{% static 'images/homepage.jpg' %}')" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-md-7">
                    <h2 class="heading mb-5">START YOUNG UK TERMS AND CONDITONS</h2>
                    <h3 class="mb-5" style="color:white ;">Charity Terms and Conditions</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section border-top" style="margin: 0 20px;">
        <p class="mb-4">These Terms and Conditions govern your use of the Start Young UK website and your relationship with Start Young UK (also referred to as we or us). Please read them carefully as they affect your rights and liabilities under the law. If you do not agree to these Terms and Conditions, please do not register for or use the Start Young UK website. If you have any questions on these Terms and Conditions, please contact <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>.</p>
        
        <h4 class="mb-5">Use of the Start Young UK website</h4>
        <ol>
            <li>The Start Young account is provided for use by voluntary and community organisations (whether or not a registered charity) subject to these Terms and Conditions. By registering a Start Young UK charity account you agree to be bound by these Terms and Conditions.</li>
            <li>By ticking the “I Agree “tick box, you agree to the terms of this Agreement. The date on which you tick the “I Agree” tick box is the commencement Date of this agreement.</li>
            <li>The Term of the Agreement is from the Commencement Date automatically terminating at the end of three years after the commencement Date (subject to earlier termination at the end of the three years after the Commencement Date (subject to earlier termination in accordance with point 1.3.</li>
        </ol>

        <h4 class="mb-5">Registration</h4>
        <ol>
            <li>You must ensure that the details provided by you on registration or at any time are correct and complete. We are not liable under any circumstances for data entered incorrectly by you.</li>
            <li>You must inform us immediately of any changes to the information that you provided when registering by updating your contact details</li>
            <li>You must ensure the content of your account reflects the charitable activities you undertake and remains up to date and complete and accurate in all material respects. The information you provide on your account may be used by Start Young UK.</li>
            <li>It is entirely your responsibility and you must ensure it is truthful, decent, honest and legal. If you use any copyright material, you must ensure you have the consent of the copyright owner to use such material. If your pictures include children or vulnerable adults, you must ensure you have the appropriate permissions in writing for such material to be used. Your submission of such information constitutes a warranty that you have complied with the provisions of this clause 2.4 and that we are authorised to post such material on the Start Young UK website.</li>
            <li>We may correct typographical and grammatical errors and make minor adjustments to the content you submit to ensure a consistent look and feel of the Start Young UK website.</li>
            <li> By notification to <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>, you may, at any time, request your account be terminated. You may also request that all your details be deleted from our databases. We undertake to comply with such requests within a reasonable period of time and in line with our privacy policy.</li>
        </ol>

        <h4 class="mb-5">Donations and fees</h4>
        <ol>
            <li>Registration and access to the Start Young UK website is free.</li>
            <li>To the extent donations are made to Start Young UK, we will only use those donations for charitable purposes only, you can find out how your donations are being used by submitting an email to <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>.</li>
            <li>Start Young UK uses donations made to support the children referred to the scheme and distribute all donations to the individuals on the scheme towards basic their needs.</li>
        </ol>

        <h4 class="mb-5">Password and security
        </h4>
        <ol>
            <li>When you register with Start Young UK website, you will be given a password. In order to prevent fraud, you must keep this password confidential and must not disclose it or share it with anyone outside. If you know or suspect that someone else knows your password, you should notify us by contacting <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a> immediately.</li>
            <li>If Start Young UK has reason to believe that there is likely to be a breach of security or misuse of the Start Young UK website on your account, we may require you to change your password or we may suspend your account.</li>
        </ol>

        <h4 class="mb-5">Intellectual property</h4>
        <ol>
            <li>Apart from your content on your account you may use for any purpose you wish, the other content of the Start Young UK website is protected by copyright, trademarks, database right and other intellectual property rights. You may retrieve and display the other content of the Start Young UK website on a computer screen, store such content in electronic form on disk (but not any server or other storage device connected to a network) or print one copy of such content for your own personal, non-commercial use, provided you keep intact all and any copyright and proprietary notices. You may not otherwise reproduce, modify, copy or distribute or use for commercial purposes any of the other materials or content on the Start Young UK website without written permission from us.</li>
        </ol>

        <h4 class="mb-5">Your use of the Start Young UK website</h4>
        <ol>
            <li>You may not use the Start Young UK website or any other Start Young social media accounts for any of the following purposes:</li>
            <ol>
                <li>disseminating any unlawful, harassing, libellous, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable material or otherwise breaching any laws;</li>
                <li>transmitting material that encourages conduct that constitutes a criminal offence, or otherwise breaches any applicable laws, regulations or code of practice;</li>
                <li>interfering with any other person's use or enjoyment of the Start Young UK website; or</li>
                <li>making, transmitting or storing electronic copies of materials protected by others' copyright without the permission of the owner.</li>
            </ol>
            <li>You will be responsible for our losses and costs resulting from your breach of this clause 6.</li>
        </ol>

        <h4 class="mb-5">Availability of the Start Young UK website</h4>
        <ol>
            <li>Although we aim to offer you the best service possible, we cannot guarantee that the services will be fault-free. If a fault occurs with the Start Young UK website or your account, you should report it to <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a> and we will attempt to correct the fault as soon as we reasonably can.</li>
            <li>Your access to the Start Young UK website may be occasionally restricted to allow for repairs, maintenance or the introduction of new facilities or services. We will attempt to restore the service as soon as we reasonably can.</li>
        </ol>

        <h4 class="mb-5">The Start Young UK Trustees right to suspend or cancel your registration</h4>
        <ol>
            <li>We may suspend or cancel your registration immediately at our reasonable discretion or if you breach any of your obligations under these Terms and Conditions in particular the conditions set out at clauses 6.4</li>
            <li>You can cancel your registration at any time by informing us in writing at <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>. If you do so, you must stop using the Start Young UKVCO account created by you.</li>
            <li>The suspension or cancellation of your registration and your right to use the Start Young UK website shall not affect either party's statutory rights or liabilities.</li>
        </ol>

        <h4 class="mb-5">The Board of Trustees</h4>
        <ol>
            <li>The Start Young UK website may reference content from other internet sites or resources, and whilst the Charity tries to ensure that material included on the Start Young UK website is correct, reputable and of high quality, it does not make any warranties or guarantees in relation to that content. If the Start Young UK is informed of any inaccuracies in the material on the site, we will attempt to correct the inaccuracies as soon as we reasonably can.</li>
            <li>If we are in breach of these Terms & Conditions, we will only be responsible for any losses that you suffer as a result to the extent that they are a foreseeable consequence to both of us at the time you use the Start Young UK website. Our liability shall not in any event include business losses such as lost data, lost profits or business interruption.</li>
            <li>This clause 9.3 shall not limit or affect our liability resulting from something we do negligently which causes death or personal injury.</li>
        </ol>

        <h4 class="mb-5">Amendments</h4>
        <ol>
            <li>We may update these Terms and Conditions from time to time for legal or regulatory reasons or to allow the proper operation of the Start Young UK website. Any changes will be notified via a suitable announcement on the Start Young UK website. The changes will apply to the use of the Start Young UK website after we have given notice. If you do not wish to accept the new Terms and Conditions you should not continue to use your Start Young account. If you continue to use the Start Young UK website after the date on which the change comes into effect, your use of the Start Young UK website indicates your agreement to be bound by the new Terms and Conditions.</li>
        </ol>

        <h4 class="mb-5">Third-party websites</h4>
        <ol>
            <li>As a convenience and benefit to customers, the Start Young UK website includes links to other websites or material which are beyond its control. The Start Young Trustee Board is not responsible for content on any site outside the Start Young UK website.</li>
            <li>You hereby authorise and licence us to use the data contained in your account. Our authority under this clause shall immediately cease in the event you notify us at <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>. It may be necessary to take down your Start Young UK account.</li>
        </ol>

        <h4 class="mb-5">Advertising and sponsorship</h4>
        <ol>
            <li>Part of the Start Young UK website may contain advertising and sponsorship. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on the Start Young UK website complies with relevant laws and codes. We will not be responsible to you for any error or inaccuracy in advertising and sponsorship material.</li>
        </ol>

        <h4 class="mb-5">Applicable law</h4>
        <ol>
            <li>These Terms and Conditions will be subject to the laws of England and Wales. We will try to solve any disagreements quickly and efficiently. If you are not happy with the way we deal with any disagreement and you want to take court proceedings, you must do so within the United Kingdom.</li>
        </ol>

        <h4 class="mb-5">International use</h4>
        <ol>
            <li>We make no promise that materials on the Start Young UK website are appropriate or available for use in locations outside the United Kingdom, and accessing the Start Young UK website from territories where its contents are illegal or unlawful is prohibited. If you choose to access this site from locations outside the United Kingdom, you do so on your own initiative and are responsible for compliance with local laws.</li>
        </ol>

        <h4 class="mb-5">Funding</h4>
        <ol>
            <li>All funding received by donation/sponsors will be paid into and held in the Bank Account as designated by the Start Young UK registered bank account. All funding received will be used by Start Young UK solely in furtherance of our charitable objects.</li>
            <li>All donors who are eligible to increase their donation through the Gift Aid Scheme, we ask you to complete the Start Young UK Gift Aid form which can be requested here <a href="mailto:startyoung21@gmail.com">startyoung21@gmail.com</a>.</li>
        </ol>

        <h4 class="mb-5">Publicity and Advertising</h4>
        <ol>
            <li>We hereby grant a non- exclusive, royalty -free licence to all sponsor and buddies for the term to use our company name and logo in any media furtherance of the Scheme provided that the Start Young UK branding is compiled with.</li>
            <li>Start Young UK will comply with all reasonable Advertising Guidelines and all reasonable marketing and publicity requirements during the term.</li>
        </ol>
        
        <h4 class="mb-5">Entire Agreement</h4>
        <ol>
            <li>This Agreement and any documents referred to in it or created in accordance with its express terms, constitute the whole Agreement between the parties and superseded any previous arrangement, understanding or agreement between them relating to the subject matter of this Agreement.</li>
            <li>Each party acknowledges that in entering into this agreement it does not rely on, and shall have no remedies in respect of, any statement representation, assurance or warranty (whether made innocently or negligently) that is not set out in this agreement.</li>
        </ol>

        <h4 class="mb-5">Third Party rights</h4>
        <ol>
            <li>A person who is not a party to this Agreement shall not have any rights under or in connection with it by virtue of the Contacts (Rights of Third Parties) Act 1999.</li>
        </ol>

        <h4 class="mb-5">Severance</h4>
        <ol>
            <li>If any provision of this Agreement (or part of any provision) is found by any court or other authority of competent jurisdiction to be invalid, unenforceable or illegal, the other provisions shall remain in force.</li>
        </ol>

        <h4 class="mb-5">Variation</h4>
        <ol>
            <li>No variation, waiver or agreed termination of this Agreement shall be effective unless it is in writing and executed by the parties (or their representatives) in the same manner as this Agreement.</li>
        </ol>

        <h4 class="mb-5">Waiver</h4>
        <ol>
            <li>No failure or delay by a party to exercise any right or remedy provided under this Agreement or by law shall constitute a waiver of that (or any other) right or remedy. No single or partial exercise of such right or remedy shall preclude or restrict the further exercise of that (or any other) right or remedy.</li>
        </ol>

        <h4 class="mb-5">Governing law and jurisdiction</h4>
        <ol>
            <li>This Agreement, and any dispute or claim arising out of or in connection with it or its subject matter, will be governed by and construed in accordance with the laws of England and Wales.</li>
            <li>The parties irrevocably agree that the courts of England and Wales shall have nonexclusive jurisdiction to settle any dispute or claim that arises out of, or in connection with, this Agreement or its subject matter.</li>
        </ol>

        <h4 class="mb-5">Alternative dispute resolution</h4>
        <ol>
            <li>If any dispute arises in connection with this Agreement, the parties shall attempt to settle it amicably and promptly. If that fails, the parties shall attempt to settle the dispute by mediation in accordance with the CEDR model mediation procedure or any alternative dispute resolution/mediation procedure agreed between the parties.</li>
        </ol>

        <h4 class="mb-5">Notices</h4>
        <ol>
            <li>A notice or other communication given to a party under or in connection with this Agreement will be in writing and may be delivered personally or sent by pre-paid first-class post or recorded delivery to the registered office of the other party or sent by email to an email address notified by the receiving party to the sending party for the purpose.</li>
            <li>If a notice or other communication has been properly sent or delivered in accordance with this clause, it shall be deemed to have been received as follows:</li>
            <ol>
                <li>if delivered personally, at the time of delivery;</li>
                <li>if sent by email, at the time of transmission (except where an out of office undelivered message is received by the sender, in which case notice is not delivered);</li>
                <li>if sent by pre-paid first-class post or recorded delivery, 9.00 am on the second business day after posting;</li>
            </ol>
        </ol>

        <h4 class="mb-5">Miscellaneous</h4>
        <ol>
            <li>If you breach these Terms and Conditions and the Company chooses to ignore this, the Start Young UK Trustee Board will still be entitled to use its rights and remedies at a later date or in any other situation where you breach the Terms and Conditions.</li>
            <li>Start Young UK shall not be responsible for any breach of these Terms and Conditions caused by circumstances beyond its reasonable control.</li>
            <li>The Start Young UK website is owned and operated by: Site 123</li>
        </ol>
    </div>
</div>

{% endblock %}