{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% load static %}
{% block content %}
<script>
  document.getElementById("nav-about").classList.add("active");
</script>

<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 homepage-nav">
      <div class="block-30 block-30-sm item" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="heading">About Us</h2>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="site-section mb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 mb-5"><h1>Our Story</h1></div>
        <div class="col-md-6">
            <p>A group of likeminded individuals came together in 2020, in order to help and support local schools in East London. It is a sad reality of our times, that many areas in the UK are poverty stricken, with many children and young adults going without the basics. Although there are a number of excellent charities gifting during the Christmas Season, the schools we had contact with requested clothes and food, rather than toys. Children were coming to school with socks on their hands instead of gloves, and some with no under garments. This was a huge eye opener for us.</p>
            <p>The group started with a Christmas Gifting Initiative the same year and we were able to give over 400 parcels and food hampers. The care packages included underwear, socks, hats, gloves & scarves. Start Young UK was born.</p>
            <p>The charity felt that in order to support these children further, we should now expand the offer to include their families. All of the families were struggling financially and the impact of COVID-19, had only made their situations worse. Our aim was to ensure those families who were disadvantaged and living in poverty, were prioritised. It was apparent that this was an even bigger problem than we had initially anticipated and although the gifts were a help, these families needed long term assistance and solutions needed to be found</p>
          </div>
          <div class="col-md-6">
            <p>Start Young UK is a registered charity and as such our promise is to act as a resource for young people living in underprivileged and/or disadvantaged homes, from the age of 5 up to the age of 18. The priority being Newham, London and the surrounding area. With a strong ethos of hard work and support we are engaging with schools and families to ensure we are providing a range of advice, assistance and leisure activities.</p>
            <p>
			<span style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
			Ensuring that we are...</span></p>
            <ul>
              <li>developing their confidence and skills, to enable them to participate as mature, responsible and independent members of society</li>
              <li>developing their capabilities and resilience as individuals</li>
              <li>advancing education</li>
              <li>relieving unemployment</li>
              <li>providing recreational and leisure activities for children and young people regardless of infirmity or disability, poverty or social and economic circumstances</li>
              <li>ensuring that the lives of the young people and that of their families are improved exponentially</li>
            </ul>
          </div>
      </div>

      
      <div class="row mt-5">
        <div class="col-md-12 mb-5 text-center mt-5">
          <h2>Our Team</h2>
        </div>
        {% for member in members %}
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              
              <div class="block-38-header">
                <img src="{{ member.member_image.url }}" alt="Image placeholder" width="500" height="200">
                <h3 class="block-38-heading"> {{ member.member_name }} </h3>
                <p class="block-38-subheading">{{ member.member_title }} </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        
      </div>

    </div>
  </div>

<!-- TODO put the css where it belongs or so help me -->
  <style>
    figure {
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        margin: auto;
    }

    img {
        max-width: 1500px;
        max-height: 690px;
        object-fit: cover;
    }

    video {
      max-width: 1500px;
      height: 690px;
      object-fit: cover;
    }

    figcaption {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    }

  </style>

  {% comment %} <div class="site-section">
    <!-- <div class="col-md-12 mb-5 text-center mt-5"> -->
      <h2 class="text-center">Gallery</h2>
    <!-- </div> -->
    <div class="container">
      <div class="block-11 mb-5" style="position: relative;">
          <div class="owl-carousel loop-block-31">
            {% for item, item_type in items %}
              {% if item_type == 'image' %}
                
                  <figure>
                    <img src="{{ item.item_file.url }}" alt="{{ item.item_title }}" style="max-width: 50%; max-height: 50%;  display: block; margin: 0 auto;">
                    <figcaption>{{ item.item_title }}</figcaption>
                  </figure>

               
              {% elif item_type == 'video' %}
                
                  <figure>
                    <video controls autoplay muted alt="{{ item.item_title }}">
                        <source src="{{ item.item_file.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <figcaption>{{ item.item_title }}</figcaption>
                  </figure>
               
              {% endif %}
            {% endfor %}
          </div>
        </div>
    </div>
  </div> {% endcomment %}
{% endblock %}
