{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Letter Reminder</title>
</head>
<body style="margin: 1em; padding: 0;">
    <!-- Company Logo not needed anymore, since we can't load images into it -->
   <!-- <div style="background-color: #ffffff; text-align: center; padding: 20px;">
        <img src="{% static 'images/startyounguk-logo.jpg' %}" alt="Company Logo" style="max-width: 100%;">
    </div> -->

    <!-- Pink Section -->
    <div style="background-color: #fcbce2; color: #000000; font-family: Arial, sans-serif; padding: 20px;">
        <h1 style="margin: 0; font-size: 24px;">Account Activation: Email confirmation</h1>
    </div>
    <!-- Gray Section -->
    <div style="background-color: #f5f5f5; color: #000000; font-family: Arial, sans-serif; padding: 20px;">
        <p style="margin: 0; font-size: 18px;">You received this mail because you attempted to make an account on our website. Please click on the link below to confirm email and activate your account</p>
        <div style="text-align: center; margin-top: 20px;">
            <a href="{{link}}" style="background-color: #fcbce2; color: #ffffff; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 18px;">Verify Email</a>
        </div>
    </div>
    <!-- Dashed Line Separator -->
    <div style="border-top: 2px dashed #cccccc; margin: 20px 0;"></div>
    <!-- Best Regards Section -->
    <div style="background-color: #fcbce2; color: #ffffff; font-family: Arial, sans-serif; padding: 20px;">
        <p> Best Regards,</p>
        <p> Start Young UK </p>
    </div>

</body>
</html>
