<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Letter Reminder</title>
</head>
<body style="margin: 1em; padding: 0;">
    <!-- Company Logo -->
    <div style="background-color: #ffffff; text-align: center; padding: 20px;">
        <img src="cid:logo" alt="Company Logo" style="max-width: 100%;">
    </div>

    <!-- Pink Section -->
    <div style="background-color: #fcbce2; color: #000000; font-family: Arial, sans-serif; padding: 20px;">
        <h1 style="margin: 0; font-size: 24px;">Your Recurring Donation Plan has been cancelled. </h1>
    </div>
    <!-- Gray Section -->
    <div style="background-color: #f5f5f5; color: #000000; font-family: Arial, sans-serif; padding: 20px;">
        <p style="margin: 0; font-size: 18px;">If you would like to set up a recurring donation plan again, please visit our website!</p>
        <p style="margin: 0; font-size: 18px;"><p>Was this not you?</p>
        <a href="{{email}}">Report to SYUK</a></p>
    </div>
    <!-- Dashed Line Separator -->
    <div style="border-top: 2px dashed #cccccc; margin: 20px 0;"></div>
    <!-- Best Regards Section -->
    <div style="background-color: #fcbce2; color: #ffffff; font-family: Arial, sans-serif; padding: 20px;">
        <p> Best Regards,</p>
        <p> Start Young UK </p>
    </div>

</body>
</html>
